# Local .terraform directories and files
**/.terraform/*
*.terraform.*

# .tfstate files
*terraform.tfstate
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Ignore transient lock info files created by terraform apply
.terraform/*
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

# own secret vars store.
*.auto.tfvars

# Ignored Terraform files
.gitignore

*.terraform.io*


*/kubespray/*
*k8s-cluster.tf_back*
*cluster.tf_*
