# Local .terraform directories and files
**/.terraform/*
*.terraform.*

# .tfstate files
*terraform.tfstate
*.tfstate
*.tfvars
*.tfvars.json

# Ignore transient lock info files created by terraform apply
*.terraform/providers/registry.terraform.io
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

# own secret vars store.
*.auto.tfvars

*meta.*
*key*
*credentials*
*.env
*.terraform.io*


*/kubespray/*
*k8s-cluster.tf_back*
*cluster.tf_*
